@page
@model _2020_backend.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>用户管理</h4>

<p>
    <a asp-page="Create">新加一个好兄弟</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User[0].stuID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User[0].Name)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.User[0].isManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.User) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stuID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.isManager)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Uid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Uid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Uid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
